<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3. Vue v-for</title>
</head>
<body>
  <div id="app">
    <p>{{ message }}</p>
    <h2>{{ message2 }}</h2>
    <ul v-for="todo in todos">
      <li v-if="todo.completed">완료: {{todo.title}}</li>
      <li v-else>미완료: {{todo.title}}</li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    const app = new Vue({
      el: '#app', // element
      data: {
        message: 'hello ssafy!',
        message2: 'hello Vue!',
        todos: [
          { id: 1, title: 'todo1', completed: true },
          { id: 2, title: 'todo2', completed: false },
          { id: 3, title: 'todo3', completed: true },
        ]
      }
    })
  </script>
</body>
</html>
