{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">Articles</h1>
  <a href="{% url 'articles:create' %}">NEW</a>
  <hr>
  {% for article in articles %}
    <p><b>작성자 : <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a></b></p>
    <p>글 번호: {{ article.pk }}</p>
    <p>글 제목: {{ article.title }}</p>
    <p>글 내용: {{ article.content }}</p>
    <form  class="d-inline like-form" data-article-id="{{article.pk}}">
      {% csrf_token %}
      {% if user in article.like_users.all %}
        <button class="btn btn-link">
          <i id="like-{{article.pk}}" class="fas fa-heart fa-lg" style="color:crimson;"></i>
        </button>
      {% else %}
        <button class="btn btn-link">
          <i id="like-{{article.pk}}" class="fas fa-heart fa-lg" style="color:black;"></i>
        </button>
      {% endif %}
    </form>
    <p>
      <span id="like-count-{{article.pk}}">
      {{ article.like_users.all|length }} 명이 이 글을 좋아합니다.
      </span
    ></p>
    <a href="{% url 'articles:detail' article.pk %}">[detail]</a>
    <hr>
  {% endfor %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('.like-form')
      
    forms.forEach(function (form){
        form.addEventListener('submit',function (event){
          event.preventDefault()
          // console.log(event)
          const articleId = event.target.dataset.articleId
          const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
          console.log(csrftoken)
          axios.post(`http://127.0.0.1:8000/articles/${articleId}/like/`,{},{
            headers: {
              'X-CSRFToken': csrftoken
            }}
            )
            .then(function (res){
              // console.log(
              const count = res.data.count
              const liked = res.data.liked

              const likeIconColor = document.querySelector(`#like-${articleId}`)
              const likeCount = document.querySelector(`#like-count-${articleId}`)
              
              likeCount.innerText = `${count}명이 이 글을 좋아합니다.`

              if (liked) {
                  likeIconColor.style.color = 'crimson'
              } else {
                likeIconColor.style.color = 'black'
              }


            })
        })
      })
  </script>
{% endblock %}
